<!DOCTYPE html>
<html>
  <head>
    <title>My todo lists</title>
  </head>
  <body>
    <a href='/new_todo_list'>New todo list</a>
    <a href='/logout'>Logout</a>

    <h1>My todo lists</h1>
    <ul id="peep_list">
      <% @my_lists.reverse_each do |list| %>
        <li id="<%= list.id %>">
          <%= list.name %>
          <%= list.category != '' ? "Category:  #{list.category}" : '' %>
          <ul>
            <% @my_tasks.each do |task| %>
              <% if task.todo_list_id == list.id %>
                <li id="<%= task.id %>">
                  <%= task.details %>
                  <%= task.deadline[0..9] > Date.today.to_s ? "Deadline: #{task.deadline[0..9]}" : '' %>

                  <form action="/task/<%= task.id %>/edit" method="get">
                    <input type="submit" value="Edit Task" id="edit_task">
                  </form>

                  <form action="/task/<%= task.id %>/<%= task.completed == 't' ? 't' : 'f' %>" method="post">
                    <input type="checkbox" id="checkbox<%= task.id %>" name="task<%= task.id %>" value="<%= task.completed == 't' ? 't' : 'f' %>" <%='checked' if task.completed == 't' %> onChange="this.form.submit()">
                  </form>
                </li>
              <% end %>
            <% end %>
          </ul>
          <br/>
          
          <form id='new_task' action='/new_task' method='post'>
            <input type='text' name='details' placeholder='Task details' required><br>
            <input type='text' name='deadline' placeholder='Deadline' onfocus="(this.type='date')"><br>
            <input type='hidden' name='list_id' value="<%= list.id %>">
            <input type='submit' value='Add task' id='new_task_button'>
          </form>
        </li>
        <br/>
      <% end %>
    </ul>

    </div>
  </body>
</html>